# Import the required modules and functions

In [1]:
from bs4 import BeautifulSoup 
import requests  
import pandas as pd

# Download the contents of the web page

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
data  = requests.get(url).text

# Create a soup object using the class BeautifulSoup

In [4]:
soup = BeautifulSoup(data,"html5lib")

# Scrape the `Language name` and `annual average salary`.

In [10]:
data_after_scrape = []

table = soup.find_all('table')[0]  # This selects the first table

for row in table.find_all('tr')[1:]: 
    columns = row.find_all('td')
    language_name = columns[1].text.strip() 
    annual_average_salary = columns[3].text.strip() 
    data_after_scrape.append({
        'Language': language_name,
        'Annual Average Salary': annual_average_salary
    })
    print(f"Language: {language_name}, Annual Average Salary: {annual_average_salary}")

Language: Python, Annual Average Salary: $114,383
Language: Java, Annual Average Salary: $101,013
Language: R, Annual Average Salary: $92,037
Language: Javascript, Annual Average Salary: $110,981
Language: Swift, Annual Average Salary: $130,801
Language: C++, Annual Average Salary: $113,865
Language: C#, Annual Average Salary: $88,726
Language: PHP, Annual Average Salary: $84,727
Language: SQL, Annual Average Salary: $84,793
Language: Go, Annual Average Salary: $94,082

# Convert list of dictionaries to DataFrame

In [12]:
df = pd.DataFrame(data_after_scrape)
df

     Language Annual Average Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082

# Save the scrapped data into a file named `popular-languages.csv`

In [13]:
df.to_csv("popular-languages.csv",index=False)